#uptime-boards{
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    margin-right: 1px;
    margin-left: 1px;
    background-color: #00853E;
}

#info-boards{
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    margin: 1px;
    padding: 10px;
    background-color: #fff;
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    background-color: #E5DBAE

    display: flex;
    align-items: center;
}

h1 {
    background-color: #00853E;
}
